<!doctype html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
    <script src="extensions/multiple-sort/bootstrap-table-multiple-sort.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link href="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link rel="stylesheet" custom.css>
    <script type="javascript">
        $(document).ready(function() {
        $('#sortit').DataTable();
    } );
    </script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="bg-dark">
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3" style="height: 100vh;">
            <div class=""><a href="/">Weekly Screener</a></div>
            <div class="accordion bg-secondary" id="accordionPanelsStayOpenExample">

{% for list, items in lists.items() %}

                <div class="accordion-item bg-secondary">
                  <div class="accordion-header bg-secondary" id="panelsStayOpen-heading{{ list }}"></div>
                 <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{ list }}" aria-expanded="false" aria-controls="panelsStayOpen-collapse{{ list }}">
                   {{ list }}</div>
                  </h2>
                  <div id="panelsStayOpen-collapse{{ list }}" class="accordion-collapse collapse show bg-dark" aria-labelledby="panelsStayOpen-heading{{ list }}">
                    <div class="accordion-body">
                        {% for item in items %}
                        <div>
                        <a href="{{ item['ticker'] }}" style="width: 100%"  class="btn btn-dark">{{ item['time'] }}: {{ item['ticker'] }}<br/>
                        {{ item['companyname'] }}</a>
                        </div>
                        <hr class="bg-light" />
                        {% endfor %}
                    </div>
                  </div>
                </div>        
            {% endfor %}    
            </div>
        </div>{% block main %}
        <div class="col-lg-auto">
            <h3 style="color: white">{{ routeticker }}</h3>
            <h4 style="color: white">{{ earningsdate }} {{ bmoamc }}</h4>
            <div>
                <span class="col-md-3" style="color: white">{{ companyname }}</span>
            </div>   
            <div>
                <span class="col-md-3" style="color: white">Avg Opt Vol:</span>
                <span class="col-md-3" style="color: white">{{ avg_optvol }}</span>
           </div>
           <div>
                <span class="col-md-3" style="color: white">Market Cap:</span>
                <span class="col-md-3" style="color: white">{{ market_cap }} Billion</span>
           </div>
           <div>
                <span class="col-md-3" style="color: white">Avg Vol:</span>
                <span class="col-md-3" style="color: white">{{ avg_stockvol }}</span>
            </div>
            <div>
                <span class="col-md-3" style="color: white">{{ sector }}</span>
            </div>
            <div>
                <span class="col-md-3" style="color: white">{{ industry }}</span>
            </div>
            <div>
                <span class="col-md-3" style="color: white">{{ address }}</span>
            </div>
            <div>
                <span class="col-md-3" style="color: white">{{ city }}, {{ state }} {{ zipcode }}</span>
            </div>
            <div>
                <span class="col-md-3" style="color: white">Abs Avg Move: &plusmn;${{ absactualmove }}</span>
            </div>
            <div>
                <span class="col-md-3" style="color: white">Abs Avg Move: &plusmn;{{ absactualmoveperc }}%</span>
            </div>
            <div>
                <span class="col-md-3" style="color: white">Implied Move: &plusmn;{{ impmove }}%</span>
            </div>
            <div>
                <span class="col-md-3" style="color: white">{{ website|safe }}</span>
            </div></br>
            <div class="table table1">
                <span class="col-lg-auto" style="color: white">{{ ctable|safe }}</span>
            </div>
            <div class="table table1">
                <span class="col-lg-auto" style="color: white">{{ historicalresult|safe }}</span>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script>
        $( function() {
          var availableTags = [
              {% for language in languages %}
                  "{{language}}",
              {% endfor %}
          ];
          $( "#tags" ).autocomplete({
            source: availableTags
          });
        } );
    </script>
{% endblock %}
</body>
</html>