<!doctype html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" custom.css>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/colreorder/1.5.5/css/colReorder.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/datetime/1.1.2/css/dataTables.dateTime.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.2.2/css/fixedHeader.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/searchbuilder/1.3.2/css/searchBuilder.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/searchpanes/2.0.0/css/searchPanes.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/staterestore/1.1.0/css/stateRestore.dataTables.min.css"/>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.colVis.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/colreorder/1.5.5/js/dataTables.colReorder.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/datetime/1.1.2/js/dataTables.dateTime.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.2.2/js/dataTables.fixedHeader.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/searchbuilder/1.3.2/js/dataTables.searchBuilder.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/searchpanes/2.0.0/js/dataTables.searchPanes.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/staterestore/1.1.0/js/dataTables.stateRestore.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="bg-dark">
<div class="container-fluid">
<div class=""><a href="/">Weekly Screener</a></div>
       {% block main %}
            <div>
                <span class="col-md-3" style="color: white"><img src="{{ logo|safe }}"></img></span>
            </div>
            <h3 style="color: white">{{ routeticker }}</h3>
            <h4 style="color: white">{{ earningsdate }} {{ bmoamc }}</h4>
            <div>
                <span class="col-md-3" style="color: white">{{ companyname }}</span>
            </div>   
            <div>
                <span class="col-md-3" style="color: white">Avg Opt Vol:</span>
                <span class="col-md-3" style="color: white">{{ avg_optvol }}</span>
           </div>
           <div>
                <span class="col-md-3" style="color: white">Market Cap:</span>
                <span class="col-md-3" style="color: white">{{ market_cap }} Billion</span>
           </div>
           <div>
                <span class="col-md-3" style="color: white">Avg Vol:</span>
                <span class="col-md-3" style="color: white">{{ avg_stockvol }}</span>
            </div>
            <div>
                <span class="col-md-3" style="color: white">{{ sector }}</span>
            </div>
            <div>
                <span class="col-md-3" style="color: white">{{ industry }}</span>
            </div>
            <div>
                <span class="col-md-3" style="color: white">{{ address }}</span>
            </div>
            <div>
                <span class="col-md-3" style="color: white">{{ city }}, {{ state }} {{ zipcode }}</span>
            </div>
            <div>
                <span class="col-md-3" style="color: white">Implied Move: &plusmn;{{ impmove }}%</span>
            </div>
            <div>
                <span class="col-md-3" style="color: white">Historical Avg Move: &plusmn;{{ absactualmoveperc }}% of {{ countreports }} Earnings Reports</span>
            </div>
            <div>
                <span class="col-md-3" style="color: white">Historical Avg Move: &plusmn;{{ cap12 }}% of {{ cr12 }} Earnings Reports</span>
            </div>
            <div>
                <span class="col-md-3" style="color: white">Historical Avg Move: &plusmn;{{ cap4 }}% of {{ cr4 }} Earnings Reports</span>
            </div>
            <div>
                <span class="col-md-3" style="color: white">
                    {% if underover > 0 %}Undervalued: {{ underover|abs }}%
                    {% else %}Overvalued: {{ underover|abs }}%
                    {% endif %} Relative to {{ countreports }} Qtr Avg
                </span>
            </div>
                <span class="col-md-3" style="color: white"><a style="color: white" href="{{ website|safe }}">{{ website }}</a></span>
            </br>
            <div>
                <span class="col-md-3" style="color: white"><a style="color: white" href="{{ oslink|safe }}">{{ oslink }}</a></span>
            </div>
            {% block table %}
            <div class="table table1">
                <span class="col-lg-auto" style="color: white">{{ ctable|safe }}</span>
            </div>
            {% endblock %}
            <!-- <div class="table table1">
                <span class="col-lg-auto" style="color: white">{{ historicalresult|safe }}</span>
            </div> -->
        </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script>
        $( function() {
          var availableTags = [
              {% for language in languages %}
                  "{{language}}",
              {% endfor %}
          ];
          $( "#tags" ).autocomplete({
            source: availableTags
          });
        } );
    </script>
{% endblock %}
</body>
</html>