<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div class="container">
<col class="col-sm-4" style="height: 100vh;">
<div>CSV Columns: ticker | edate | bmoamc</div>
<div>Example: AAPL | 2022-05-04 | bmo</div>
</col>
<col class="col-lg" style="height: 100vh;">
<row class="row" style="height: 100px;">
<form method="POST" action="" enctype="multipart/form-data">
    <p><input class="button" type="file" name="file"></p>
    <p><input type="submit" value="Submit"></p>
  </form>
</row>
<row class="row">
	{{ outputted|safe }}
</row>
<!-- <row class="row" style="height: 100%;">
		<div>
			<table>
				<h1>
				Displaying the converted table

				
				</h1>
			</table>
		</div>
</col>
</row> -->
</div>
</body>
</html>
