<html/>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>It's a Chart</title>
</head>
<body>
    <!--  <canvas> element is used to draw graphics on a web page. -->
    
    <canvas id="myChart"></canvas>
    <br>
    <p class="center"><button id="showYear" class="hide">Toggle to Year</button></p>
    <!-- (best practice to load all the script files at the bottom) -->
    
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    <!-- loading a javascript library for data visualization Charts.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <!-- local javascript file -->
    <script src="../static/script.js"></script>
  </body>
</html>