<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div class="container">
<col class="col-sm-4" style="height: 100vh;">
<div class="href"><a href="../static/header.csv">CSV Template</a></div>
</col>
<col class="col-lg" style="height: 100vh;">
<row class="row" style="height: 100px;">
<form method="POST" action="" enctype="multipart/form-data">
    <p><input class="button" type="file" name="file"></p>
    <p><input type="submit" value="Submit"></p>
  </form>
    <form action="/importit" method="post">
        <button type="submit" value="Import">Import</button>
    </form>
</row>
<!-- <row class="row" style="height: 100%;">
		<div>
			<table>
				<h1>
				Displaying the converted table

				
				</h1>
			</table>
		</div>
</col>
</row> -->
</div>
</body>
</html>
